* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    height: 100vh;
    background-image: url("https://wallpaperboat.com/wp-content/uploads/2020/02/anime-cloud-05.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }
  
  .app-container{
    padding: 2rem 1.5rem;
    border-radius: 40px;
    background: rgba(15, 15, 30, 0.2);
    font-size: 24px;
    color: white;
    text-align: center;
    backdrop-filter: blur(40px);
    overflow: hidden;
  }
  

  #status {
    position: absolute;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
    width: 74%;
    padding: 4px 8px;
    border-radius: 8px;
    background: rgba(255, 63, 63, 0.4);
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    color: white;
    transition: 0.5s;
  }
  
  .search {
    position: relative;
    margin-bottom: 2rem;
  }
  .search-bar {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    height: 40px;
    padding: 8px 20px;
    color: white;
    font-size: 20px;
    background: rgba(15, 15, 30, 0.1);
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  .search-bar:hover,
  .search-bar:focus {
    opacity: 1;
    background: rgba(15, 15, 30, 0.2);
  }
  
  .search button {
    position: absolute;
    right: 0px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
  }
  .search button:hover {
    background: rgba(15, 15, 30, 0.2);
  }
  
  .region {
    margin-bottom: 2rem;
  }
  
  #city {
    font-size: 40px;
    margin-bottom: 0.5rem;
  }
  
  .weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 2rem;
  }
  .weather .icon {
    position: absolute;
    right: 0;
    opacity: 0.9;
  }
  
  #description {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  #temp {
    font-size: 90px;
  }
  
  .details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-size: 18px;
  }
  .details > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    transition: opacity 1s;
    overflow: hidden;
    
  }
  .details * span {
    display: block;
    transition: 1s;
  }
  .description {
    text-transform: capitalize;
  }
  
  
  .error-img {
    width: 150px;
    margin: 0.2rem 0;
    filter: invert();
    opacity: 0.7;
  }
  
  @media screen and (max-width: 768px) {
    .app-container {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }